<div class="hero">
    <div class="hero-title">Teacher's Pets</div>
    <%= link_to  "Sign up!", sign_up_path, class: 'link-btn' %>
</div>
<h2>How it works!</h2>

<div class="my-container">
  <div class="my-card">
    <h3 class="my-card-title"> Stuff is stupid</h3>
    <p class="my-card-content">Some silly content yes yes yes yes ok np?</p>
  </div>
  <div class="my-card">
    <h3 class="my-card-title"> Stuff is stupid</h3>
    <p class="my-card-content">Some silly content yes yes yes yes ok np?</p>
  </div>
  <div class="my-card">
    <h3 class="my-card-title"> Stuff is stupid</h3>
    <p class="my-card-content">Some silly content yes yes yes yes ok np?</p>
  </div>
</div>

<%=javascript_pack_tag 'home'%>
